body{
    font-size: 18px;
}

.box_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    border: 5px black;
    align-items: center;
}

.post{
    width: 80%;
    height: 200px;
    color: black;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid black; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.left,.right{
    width: 50%;
}

.left img{
    max-width: 100%;
    max-height: 175px;
    object-fit: cover; 
}

.right{
    padding-left: 10px;
}