{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Explore Walking Trails</h2>
        
        <div class="action-bar">
            <a href="/post" class="btn">+ Post New Trail</a>
        </div>

        <div class="box_container">
            {% for trail in trails %}
            <div class="post">
                <div class="left">
                    <img src="{{ url_for('static', filename='images/image_placeholder.png') }}">
                </div>
                <div class="right">
                    <h3>{{ trail.title }}</h3> 
                    <p>Neighborhood: {{ trail.neighborhood }}</p>
                    <p>Duration: {{ trail.duration }}</p>
                    <p>Difficulty: {{ trail.difficulty }}</p>
                    <p>Starting Point: {{ trail.starting_point }}</p>
                    <p>Description: {{ trail.description }}</p>
                    <a href="{{ url_for('edit_trail', trail_id=trail._id) }}" class="btn">Edit</a>
                    <br>
                </div>
            </div>
            {% else %}
            <p>No trails found. Be the first to post one!</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
